@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Medium_Web.woff2)
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Book_Web.woff2)
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Bold_Web.woff2)
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2)
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 200;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
}

/* font_weight */
.fw_2 {
  font-family: Gotham SSm;
  font-weight: 200;
}

.fw_3 {
  font-family: gotham SSm;
  font-weight: 300;
}

.fw_4 {
  font-family: gotham SSm;
  font-weight: 400;
}

.fw_5 {
  font-family: gotham SSm;
  font-weight: 500;
}

.fw_7 {
  font-family: gotham SSm;
  font-weight: 700;
}

.txt_deco {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Gotham SSm";
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}
.clear {
  clear: both;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
#background1 {
  background-image: url("/assets/images/firstbg.jfif");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
}
#background2 {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  position: absolute;
}

.navbar {
  max-width: 100%;
  height: 56px;
}
.logo {
  width: 33.9%;
  height: 56px;
  float: left;
  position: relative;
}
.items {
  width: 32%;
  height: 56px;
  float: left;
  position: relative;
}
.link {
  height: 32px;
  margin-top: 12px;
  padding: 4px 8px;
}
.link:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.links {
  width: 33.9%;
  height: 56px;
  float: right;
  position: relative;
}
.logoimg {
  width: 120px;
  height: 12px;
  position: relative;
  left: 32px;
  top: 18px;
}

.items ul {
  list-style: none;
  text-align: center;
}
.links ul {
  list-style: none;
  text-align: center;
  position: absolute;
  right: 0px;
}
.items ul li {
  float: left;
  padding: 0px 8px;
}
.items ul li a {
  text-decoration: none;
  display: block;
}
.items ul li a:hover {
  text-decoration: none;
  /* background-color: rgba(128, 128, 128, 0.5); */
  background-size: 20px 20px;
}
.links ul li {
  float: left;
  padding-right: 1.6vw;
}
.links ul li a {
  text-decoration: none;
  float: left;
}
a {
  color: #fff;
}
#model {
  position: absolute;
  text-align: center;
  color: #fff;
  margin-top: 152px;
  padding: 0 24px;
  width: 100%;
}
body {
  /* background-color:grey ; */
}
#infoone.infocontainer {
  color: #fff;
  width: 40%;
  height: 54px;
  margin-left: 30%;
}
.range {
  display: inline;
  float: left;
  margin-left: 4vw;
}
.speed {
  display: inline;
  float: left;
}
.motor {
  display: inline;
  float: left;
  margin-left: 4vw;
}
.speed img {
  display: inline;
}
.speed h2 {
  display: inline;
}
.gaugesvg {
  display: inline;
}
.range h2 {
  display: inline;
}
.range h3 {
  display: inline;
}
.subdesc {
  font-size: 12px;
}
#infoone {
  text-align: center;
  position: absolute;
  top: 79.9%;
  width: 100%;
}

.buynow button {
  color: #fff;
  padding: 4px 24px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  width: 204px;
  height: 40px;
  float: right;
}
.buynow button:hover {
  padding: 4px 24px;
  border: 3px solid white;
  color: black;
  background-color: white;
  border-radius: 2px;
  width: 204px;
  height: 40px;
}
#nextbutton {
  position: absolute;
  bottom: 1vh;
  width: 100vw;
  text-align: center;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
#nextbutton:hover {
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
/* PAGE 2 */
#page2 {
  width: 100vw;
  height: 100vh;
  top: 100vh;
  position: relative;
}
#bgimg {
  background-image: url("/assets/images/secondbg.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 78vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  float: left;
}
#pg2txt {
  margin-top: -5.9vh;
  width: 21.8vw;
  height: 100vh;
  float: right;
  margin-right: 32px;
  padding-left: 80px;
  padding-top: 60px;
  top: 100vh;
}
#pg2txt a {
  color: black;
}
.t17txt {
  font-size: 17px;
}
.safetytitle {
  padding-top: 10px;
  padding-bottom: 25px;
}
#learnmore {
  float: left;
  text-align: center;
  margin-right: 10px;
}
#learnmore a {
  text-decoration: none;
}
#learnmore img {
  background-color: rgba(0, 0, 0, 0);
  background-size: 40px 40px;
  border-radius: 50px;
  border: 3px solid black;
  float: left;
}
#learnmore span {
  float: right;
  padding-top: 10px;
}
#learnmore img:hover {
  background-color: rgba(0, 0, 0, 1);
  background-size: 40px 40px;
  border-radius: 50px;
  border: 3px solid black;
}

.buynow2 button {
  color: black;
  padding: 4px 24px;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  width: 204px;
  height: 40px;
  float: left;
}
.buynow2 button:hover {
  padding: 4px 24px;
  border: 3px solid black;
  color: white;
  background-color: black;
  border-radius: 2px;
  width: 204px;
  height: 40px;
}
.buttons {
  margin-top: 50vh;
}

/* page 3 */
#page3 {
  width: 100vw;
  height: 100vh;
  top: 100vh;
  position: relative;
}
#bgimg3 {
  background-image: url("/assets/images/thirdbg.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  z-index: 0;
  position: absolute;
  float: left;
}
#infoonetwo.infocontainertwo {
  color: #fff;
  width: 45vw;
  height: 8.3vh;
  margin-left: 27.5vw;
}
#infoonetwo {
  text-align: center;
  position: absolute;
  bottom: 27vh;
  width: 100%;
}
#infoonetwo.infocontainertwo .range {
  margin-left: 24px;
}
#infoonetwo.infocontainertwo .motor {
  margin-left: 24px;
}
#bottominfo {
  height: 20vh;
  width: 75vw;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  margin-left: 12.5vw;
}
#buttonsbottom {
  width: 25vw;
  height: 14.5vh;
  clear: both;
  float: left;
  padding: 16px 0;
  margin-bottom: 40px;
}
#textbottom {
  width: 34vw;
  height: 14.5vh;
  float: right;
  padding: 16px 0;
}

#sidescroller {
  height: 10vh;
  position: fixed;
  top: 35vh;
  left: 22px;
  z-index: 2;
}

#sidescroller ul {
  list-style: url("/assets/images/icons/Rectangle1.svg");
}

#sidescroller ul a {
  color: white;
  text-decoration: none;
}
#sidescroller ul a li {
  font-size: 10px;
}

#sidescroller ul a li .sidenavtxt {
  font-size: 10px;
  opacity: 0;
  margin-bottom: 10px;
}
#sidescroller ul a li .sidenavtxt:hover {
  font-size: 10px;
  opacity: 100%;
}
.sidenavdiv {
  width: 24px;
  height: 24px;
  position: fixed;
  left: 0;
}
.blacklink {
  color: black;
}
.t17txt2 {
  margin-bottom: 10px;
}
h2.acctitle {
  margin-bottom: 24px;
}

/* test */
