@font-face {
  font-family: "gothamssmmedium";
  src: url("/assets/fonts/1742-font-webfont.woff2") format("woff2"),
    url("/assets/fonts/1742-font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "gothamssmmedium", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.clear {
  clear: both;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
#background1 {
  background-image: url("/assets/images/firstbg.jfif");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
.bgimg {
  max-width: 100%;
  height: auto;
}
.navbar {
  max-width: 100%;
  height: 56px;
}
.logo {
  width: 33.9%;
  height: 56px;
  float: left;
  position: relative;
}
.items {
  width: 32%;
  height: 56px;
  float: left;
  position: relative;
}
.link {
  height: 32px;
  margin-top: 12px;
  padding: 4px 8px;
}
.link:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.links {
  width: 33.9%;
  height: 56px;
  float: right;
  position: relative;
}
.logoimg {
  width: 120px;
  height: 12px;
  position: relative;
  left: 32px;
  top: 18px;
}

.items ul {
  list-style: none;
  text-align: center;
}
.links ul {
  list-style: none;
  text-align: center;
  position: absolute;
  right: 0px;
}
.items ul li {
  float: left;
  padding: 0px 8px;
}
.items ul li a {
  text-decoration: none;
  display: block;
}
.items ul li a:hover {
  text-decoration: none;
  /* background-color: rgba(128, 128, 128, 0.5); */
  background-size: 20px 20px;
}
.links ul li {
  float: left;
  padding-right: 32px;
}
.links ul li a {
  text-decoration: none;
  float: left;
}
a {
  color: #fff;
}
#model {
  position: absolute;
  text-align: center;
  color: #fff;
  margin-top: 152px;
  padding: 0 24px;
  width: 100%;
}
body {
  height: 4000px;
  overflow: hidden;
}
#infoone.infocontainer {
  color: #fff;
  width: 40%;
  height: 54px;
margin-left: 30%;
}
.range {
  display: inline;
  float: left;
  margin-left: 78px;
}
.speed {
  padding: 
  display: inline;
  float: left;
}
.motor {
  display: inline;
  float: left;
  margin-left: 78px;
}
.speed img {
  display: inline;
}
.speed h2 {
  display: inline;
}
.range h2 {
  display: inline;
}
.range h3 {
  display: inline;
}
.subdesc {
  font-size: 12px;
}
#infoone {
  text-align: center;
  position: absolute;
  top: 79.9%;
  width: 100%;
}

.buynow button  {
  color: #fff;
  padding: 4px 24px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  width: 204px;
  height: 40px;
  float: right;
}
.buynow button:hover {
  padding: 4px 24px;
  border: 3px solid white;
  color: black;
  background-color: white;
  border-radius: 2px;
  width: 204px;
  height: 40px;
}
